.sidenav {
    background-color: #3F51B5;
    width: 200px;
}

.sidenav i,
.sidenav span {
    color: #FFFFFF;
}

.sidenav i {
    padding-right: 10px;
    vertical-align: middle;
}

.content {
    padding: 16px;
    background-color: #FFFFFF;
}